@charset "utf-8";

:root {
    --color0: #f6e8ca;
    --color1: #EAD8B1;
    --color2: #001F3F;
    --color3: #3A6D8C;
    --color4: #6A9AB0;
    --color5: #41856A;
    --color6: #73D2CC;
    --color7: #0c3e70;
    --color8: #6C0E23;
    --color9: #96ADC8;
    --color10: #0D6EFD;
    --color11: #0B5ED7;
    --color12:  #bbbbbb;
}

body {
    background-image: linear-gradient(to top right, var(--color1), var(--color2));
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-y: scroll;
}

.btn {
    height: 120px;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    line-height: 1;
    overflow: hidden;
    border: 0;
}

.btn-primary
{
    background-image: linear-gradient(to bottom, var(--color10), var(--color11)) !important;
    /* border: 0.1px solid rgb(174, 174, 174); */
}

.breadcrumb {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.breadcrumb-item {
    position: relative;
    margin: 0 5px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb-item.active {
    background-color: white;
    border-radius: 10px;
}

.breadcrumb-item.passed {
    color:  var(--color12);
}

.my-fixed {
    position: fixed !important;
    height: 0px !important;
    /* This prevents the hidden tab size from messing with the layout */
}

.my-fade {
    opacity: 0;
    /* Unfortunately, this makes the modal to behave incorrectly. */
    /* transform: translateY(-25px);  */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    visibility: hidden !important;
}

.my-fade.my-show {
    opacity: 1;
    /* Unfortunately, this makes the modal to behave incorrectly. */
    /* transform: translateY(0); */
    visibility: visible !important;
}

.profile-img
{
    height: 100%;
    display: block;
}

.profile-name
{
    flex-grow: 1;
}