@charset "UTF-8";

:root {
    --color0: #f6e8ca;
    --color1: #EAD8B1;
    --color2: #001F3F;
    --color3: #3A6D8C;
    --color4: #6A9AB0;
    --color5: #41856A;
    --color6: #73D2CC;
    --color7: #0c3e70;
    --color8: #6C0E23;
    --color9: #96ADC8;
    --color10: #0D6EFD;
    --color11: #0B5ED7;
    --color12:  #bbbbbb;
    --color13: #306cc5;
}

/* *,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
} */

body {
    background-image: linear-gradient(to top right, var(--color1), var(--color2));
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0;
}

/* #home h1, #new-sector h2, #new-employee h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
} */

#home h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.nav-tabs {
    border-bottom: 2px solid var(--color1);
}

.nav-link {
    font-size: 20px;
}

.nav-link:not(.active) {
    color: white;
}

.nav-item {
    cursor: pointer;
}

.nav-link.active {
    background-color: var(--color0) !important;
    border-color: var(--color0) !important;
}

.accordion-item,
.accordion-button {
    color: white;
    background-color: var(--color7);
}

.accordion-body {
    background-color: var(--color3);
}

.accordion-item:focus,
.accordion-button:focus-visible,
.accordion-button:focus-within {
    box-shadow: none;
}

/* #new-sector,
#new-employee {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

#new-sector-btn,
#new-employee-btn,
#sectorModalFooterButton,
#sectorFilterModalFooterButton {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--color6);
    transition: background-color 0.1s ease, color 0.1s ease;
}

#new-sector-btn:hover,
#new-employee-btn:hover,
#sectorModalFooterButton:hover,
#sectorFilterModalFooterButton:hover {
    color: white;
    background-color: var(--color5);
}

.my-absolute {
    position: absolute;
    height: 0px !important;
    /* This prevents the hidden tab size from messing with the layout */
}

.my-fade {
    opacity: 0;
    /* Unfortunately, this makes the modal to behave incorrectly. */
    /* transform: translateY(-25px);  */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    visibility: hidden;
}

.my-fade.my-show {
    opacity: 1;
    /* Unfortunately, this makes the modal to behave incorrectly. */
    /* transform: translateY(0); */
    visibility: visible;
}

#sector-toggler-btn {
    color: var(--color7);
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); */
    background-color: var(--color1);
    /* border: 1px solid var(--color7); */
    transition: background-color 0.1s ease, color 0.1s ease;
}

#sector-toggler-btn:hover {
    color: white;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); */
    background-color: var(--color5);
    /* border: 1px solid var(--color7); */
}

/* #sectorModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.modal {
    z-index: 1055 !important;
    /* Higher than the backdrop */
}

.modal-backdrop {
    z-index: 1045 !important;
    /* Default for the backdrop */
}

@keyframes my-grow {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.card-my-grow {
    animation: my-grow 0.5s ease-in-out forwards;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.report-card {
    transition: transform 0.3s ease;
}

.report-card:hover {
    transform: translateY(-7px); 
}

.card {
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    border-width: 0;
}

.card-body {
    /* padding: 20px; */
    text-align: left;
    background-color: var(--color8);
    color: white;
}

.card h5 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 1.5;
}

.card-text strong {
    color: var(--color1);
}


.accordion-collapse
{
    overflow: hidden; /* Prevents the background from overlapping the border */
}



